<div class="container">
  <h2>Kunden hinzufügen</h2>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveCustomer()" #customerForm="ngForm">
        <div class="form-group">
          <label for="title">Anrede</label>
          <select name="title" class="form-control" required [(ngModel)]="customer.title">
            <option ngValue="Herr" label="Herr" selected></option>
            <option ngValue="Frau" label="Frau"></option>
            <option ngValue="Herr Dr." label="Herr Dr."></option>
            <option ngValue="Frau Dr." label="Frau Dr."></option>
          </select>
        </div>
        <div class="form-group">
          <label for="firstName">Vorname</label>
          <input type="text" class="form-control" [(ngModel)]="customer.firstName" name="firstName" required placeholder="Vorname">
        </div>
        <div class="form-group">
          <label for="lastName">Nachname</label>
          <input type="text" class="form-control" [(ngModel)]="customer.lastName" name="lastName" required placeholder="Nachname">
        </div>
        <div class="form-group">
          <label for="dateOfBirth">Geburtsdatum</label>
          <input type="date" forma class="form-control" [(ngModel)]="customer.dateOfBirth" name="dateOfBirth" required placeholder="DD.MM.YYYY">
        </div>
        <div class="form-group">
          <label for="postCode">Postleitzahl, Ort</label>
          <div class="row">
            <div class="col-xs-5">
              <input type="tel" class="form-control" [(ngModel)]="customer.postCode" name="postCode" required pattern="[0-9]{0,5}" placeholder="00000">
            </div>
            <div class="col-xs-7">
              <input type="text" class="form-control" [(ngModel)]="customer.city" name="city" required placeholder="Ort">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="street">Strasse</label>
          <div class="row">
            <div class="col-xs-8">
              <input type="text" class="form-control" [(ngModel)]="customer.street" name="street" required placeholder="Strasse">
            </div>
            <div class="col-xs-4">
              <input type="text" class="form-control" [(ngModel)]="customer.streetNumber" name="streetNumber" required placeholder="Nr.">
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!customerForm.form.valid">Anlegen</button>
          <a [routerLink]="['/customers']" class="btn btn-info">zur Übersicht</a>
        </div>
      </form>
    </div>
  </div>
</div>
