<div class="container">
  <h3>{{ customer.title }} {{ customer.firstName }} {{ customer.lastName }}</h3>
  <dl class="list">
    <dt>Geburtstag</dt>
    <dd>{{ customer.dateOfBirth | date:'shortDate' }}</dd>
    <br>
    <dt>Adresse</dt>
    <dd>{{ customer.postCode }} {{ customer.city }}</dd>
    <dd>{{ customer.street }} {{ customer.streetNumber }}</dd>
    <br>
    <dt>Update Datum</dt>
    <dd>{{ customer.updated_date | date:'short' }}</dd>
  </dl>
  <div class="row">
    <div class="col-md-12">
      <a [routerLink]="['/customer-edit', customer._id]" class="btn btn-success">Anpassen</a>
      <button class="btn btn-danger" type="button" (click)="deleteCustomer(customer._id)">Löschen</button>
      <a [routerLink]="['/customers']" class="btn btn-info">zur Übersicht</a>
    </div>
  </div>
</div>
