<div class="container">
  <h1>Kunden Liste <a [routerLink]="['/customer-create']" class="btn btn-default">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </a></h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Geburtstag</th>
        <th>Aktion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.title }} {{ customer.firstName }} {{ customer.lastName }}</td>
        <td>{{ customer.dateOfBirth | date: 'shortDate'}}</td>
        <td>
          <a [routerLink]="['/customer-details', customer._id]" class="btn btn-default">
            <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
          </a>
          <a [routerLink]="['/customer-edit', customer._id]" class="btn btn-default">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
